@media only screen and (max-width:990px){
  
           #col_1{
            width: 100%;
           
           }
           #col_2{
            width: 100%;
           text-align: center;

           }
           .text_2{
            margin: 0 auto;
           }
           .social{
            display: flex;
            justify-content: center;
           }
           .social_icon{
            text-align: center;
            display: flex;
            width: 100% !important;
            padding-right: 40px;
           }
           #skill_col{
            width: 100%;
           }
           .tabs{
            width: 100%;
            display: flex;
            justify-content: space-between;
           }
           .website_img{
            width: 100%;
           }
           #portfolio_website{
            width: 100%;
            margin-bottom: 60px;
           }
           #contact1{
            margin-bottom: 40px;
           }
    }
    @media only screen and (max-width:750px){
     
        .text_2 h5{
            font-size: 40px;
        }
        .mult{
            font-size: 33px;
        }
       .icon{
        margin-right: 0;
       }
       #col_1{
        padding-top: 60px;
        
       }
       .slide_nav{
        width: 50%;
       }
      .tabs div{
        width:100%;
      }
      .number2 a{
        margin-left: 0;
      }
      .tab{
        font-size: 20px;
      }
      .name b{
        font-size: 20px;
      }
      .navbar_ul .li a i{
        font-size: 17px;
      }
    }
    @media only screen and (max-width:400px){
    
      .photo{
        width: 70%;
      }
      .text h3{
        font-size: 20px;
      }
      .text .multitext{
        font-size: 30px;
      }
      .icon{
        font-size: 20px;
  height: auto;
  margin-right: 8px;
      }
      .social_row{
        width: 100%;
      }
      .text_2 h5{
        font-size: 25px;
      }
      .text_2 .mult{
        font-size: 30px;
      }
      .text_2 p{
        font-size: 22px;
      }
      #skill_col{
        width: 100%;
      }
      .tabs div{
        width: 30%;
        font-size: 16px;
        padding: 10px;
      }
      .slide_nav{
        width: 60%;
      }
      .name{
        padding:0px;
      }
      #col_2 .text_2 p{
        letter-spacing: normal;
        font-weight: lighter;
      }
    }